<head>
  <meta charset="utf-8">
  <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title><%= current_page.data.title ? current_page.data.title + ' &ndash; ' : '' %>Spaces</title>
  <meta name="description" content="<%= current_page.data.metadata_description ? current_page.data.metadata_description : 'Showcasing the best tech offices and spaces in Canada.' %>">
  <meta name="keywords" content="<%= current_page.data.metadata_keywords ? current_page.data.metadata_keywords : 'spaces, waterloo, toronto, kitchener, montreal, ottawa, vancouver, atlantic, canada, tech, canadian, startup, company, design, interior, architecture, Karel, Vuong' %>">

  <meta name="copyright" content="2013 to Present">
  <meta name="HandheldFriendly" content="True">
  <meta name="MobileOptimized" content="320">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">

  <meta http-equiv="cleartype" content="on">

  <link rel="canonical" href="http://seethespaces.com<%= current_page.url %>">

  <meta property="og:title" content="<%= current_page.data.metadata_title ? current_page.data.metadata_title : 'Spaces' %>"/>
  <meta property="og:site_name" content="Spaces"/>
  <meta property="og:description" content="<%= current_page.data.metadata_description ? current_page.data.metadata_description : 'Showcasing the best tech offices and spaces in Canada.' %>"/>
  <meta property="og:type" content="<%= current_page.data.metadata_og_type ? current_page.data.metadata_og_type : 'Profile' %>"/>
  <meta property="og:url" content="http://seethespaces.com<%= current_page.url %>"/>

  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:site" content="@SeeTheSpaces">
  <meta name="twitter:creator" content="@karelvuong">
  <meta name="twitter:title" content="<%= current_page.data.metadata_title ? current_page.data.metadata_title : 'Spaces' %>">
  <meta name="twitter:description" content="<%= current_page.data.metadata_description ? current_page.data.metadata_description : 'Showcasing the best tech offices and spaces in Canada.' %>">

  <%= stylesheet_link_tag "main" %>
</head>
