<!doctype html>
<html lang="en-US" prefix="og: http://ogp.me/ns#">
  <%= partial "_partials/head" %>

  <body class="<%= page_classes %>">
    <%= partial "_partials/header/region" %>

    <%= partial "_partials/blocks/region-hero" %>

    <%= yield %>

    <section class="block-subscribe bg-black pad--md--y text--center">
      <div class="container">
        <div class="col-sm-8 col-sm-offset-2">
          <h1 class="block-hero-title clr-white">Like these spaces?</h1>

          <p class="block-hero-subtitle clr-white">Subscribe to our mailing list to be<br class="hidden-xs"> the first to know when more spaces are added.</p>

          <form class="block-hero-form" action="//karel.us5.list-manage.com/subscribe/post?u=453afd4574efb15909950c60d&amp;id=f4ab8eace7" method="POST">
            <div class="block-hero-form-input-group">
              <input class="block-hero-form-input" type="email" name="email" value="" placeholder="email.address@domain.com">
              <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_453afd4574efb15909950c60d_f4ab8eace7" tabindex="-1" value=""></div>
              <input class="block-hero-form-btn btn-grey btn" type="submit" name="name" value="Subscribe">
            </div>
          </form>
        </div>
      </div>
    </section>

    <%= partial "_partials/footer/main" %>
    <%= partial "_partials/scripts" %>
  </body>
</html>
