<!doctype html>
<html lang="en-US" prefix="og: http://ogp.me/ns#">
  <%= partial "_partials/head" %>

  <body class="<%= page_classes %>">
    <%= partial "_partials/header/space" %>

    <%= yield %>

    <%= partial "_partials/footer/main" %>
    <%= partial "_partials/scripts" %>
  </body>
</html>
