<header class="header header--inverse bg-black">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="header-container header-container--left">
          <a class="header-logo" href="/">Spaces</a>
        </div>

        <nav class="header-container header-container--right">
          <ul class="header-links list list--inline">
            <%= nav_link_to "Kitchener-Waterloo", "/in/kitchener-waterloo", { :class => "header-link" } %>
            <%= nav_link_to "Montreal", "/in/montreal", { :class => "header-link" } %>
            <%= nav_link_to "Toronto", "/in/toronto", { :class => "header-link" } %>
            <%= nav_link_to "Ottawa", "/in/ottawa", { :class => "header-link" } %>
            <%= nav_link_to "Vancouver", "/in/vancouver", { :class => "header-link" } %>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</header>
