<header class="header header--inverse bg-black">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="pull-left">
          <a class="header-logo" href="/">Spaces</a>
        </div>

        <nav class="pull-right">
          <ul class="list list--inline">
            <%= nav_link_to "A", "/#A", { :class => "header-link" } %>
            <%= nav_link_to "B", "/#B", { :class => "header-link" } %>
            <%= nav_link_to "C", "/#C", { :class => "header-link" } %>
            <%= nav_link_to "D", "/#D", { :class => "header-link" } %>
            <%= nav_link_to "E", "/#E", { :class => "header-link" } %>
            <%= nav_link_to "F", "/#F", { :class => "header-link" } %>
            <%= nav_link_to "G", "/#G", { :class => "header-link" } %>
            <%= nav_link_to "H", "/#H", { :class => "header-link" } %>
            <%= nav_link_to "I", "/#I", { :class => "header-link" } %>
            <%= nav_link_to "J", "/#J", { :class => "header-link" } %>
            <%= nav_link_to "K", "/#K", { :class => "header-link" } %>
            <%= nav_link_to "L", "/#L", { :class => "header-link" } %>
            <%= nav_link_to "M", "/#M", { :class => "header-link" } %>
            <%= nav_link_to "N", "/#N", { :class => "header-link" } %>
            <%= nav_link_to "O", "/#O", { :class => "header-link" } %>
            <%= nav_link_to "P", "/#P", { :class => "header-link" } %>
            <%= nav_link_to "Q", "/#Q", { :class => "header-link" } %>
            <%= nav_link_to "R", "/#R", { :class => "header-link" } %>
            <%= nav_link_to "S", "/#S", { :class => "header-link" } %>
            <%= nav_link_to "T", "/#T", { :class => "header-link" } %>
            <%= nav_link_to "U", "/#U", { :class => "header-link" } %>
            <%= nav_link_to "V", "/#V", { :class => "header-link" } %>
            <%= nav_link_to "W", "/#W", { :class => "header-link" } %>
            <%= nav_link_to "X", "/#X", { :class => "header-link" } %>
            <%= nav_link_to "Y", "/#Y", { :class => "header-link" } %>
            <%= nav_link_to "Z", "/#Z", { :class => "header-link" } %>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</header>
