<header class="header--space header">
  <div class="header-inner">
    <div class="container">
      <div class="header-container header-container--left">
        <a class="header-menu pull-left" href="#"><img class="icon icon--left clr-fill-" src="<%= images_dir %>/menu--white.svg" width="8" height="8"> Sections</a>
        <span class="header-logo"><%= current_page.data.title %></span>
      </div>

      <div class="header-social header-container header-container--right">
        <ul class="list list--inline">
          <li><strong>Share on:</strong></li>
          <li><a class="btn btn-twitter--blue " href="https://twitter.com/intent/tweet?text=Check out <%= current_page.data.title %><%= (current_page.data.title.end_with? "s" ? '\'' : '\'s') %> space on <%= current_page.url %>">Twitter</a></li>
          <li><a class="btn btn-facebook--blue js-share-facebook" href="#">Facebook</a></li>
        </ul>
      </div>
    </div>
  </div>
</header>
