<section class="block-hero pad--md--y text--center">
  <div class="container">
    <div class="row">
      <div class="col-sm-offset-3 col-sm-6">
        <h1 class="block-hero-name"><%= current_page.data.title %></h1>
        <p class="block-hero-address"><img class="icon icon--left" src="<%= images_dir %>/map-marker.svg" width="12" height="12"> <%= current_page.data.address %></p>
        <p class="block-hero-region"><img class="icon icon--left" src="<%= images_dir %>/map.svg" width="10" height="10"> <%= current_page.data.region %></p>

        <p class="block-hero-body text--left"><%= current_page.data.description %></p>

        <p>
          <ul class="list list--inline">
            <li class="pad--xxxs--r"><strong>Share on:</strong></li>
            <li><a class="btn btn-facebook--blue js-share-facebook" href="<%= current_page.url %>">Facebook</a></li>
            <li><a class="btn btn-twitter--blue js-share-twitter" href="https://twitter.com/intent/tweet?text=<%= current_page.data.share.twitter.text %>&url=<%= current_page.url %>">Twitter</a></li>
          </ul>
        </p>
      </div>
    </div>
  </div>
</section>
